
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>
<script src="https://use.fontawesome.com/2ef9222924.js"></script>
<script src="/public/javascripts/jquery-1.11.0.min.js"></script>
    <script src="/public/javascripts/jquery-migrate-1.2.1.min.js"></script>
    <script src="/public/javascripts/bootstrap.bundle.min.js"></script>
    <script src="/public/javascripts/templatemo.js"></script>
    <script src="/public/javascripts/custom.js"></script>
    
</body>
</html>